[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "*"
qgrid = "*"
gensim = "*"

[requires]
python_version = "3.7"
